@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Daily Inventory";
}

<div class="main-content">
    <link rel="stylesheet" href="~/css/Home.css">

    <div class="date-container">
        <label for="date">Choose a date:</label>
        <form method="get">
            <input type="date" id="date" name="SelectedDate" value="@Model.SelectedDate?.ToString("yyyy-MM-dd")" onchange="this.form.submit()" />
        </form>
    </div>

    <div id="tableContainer">
        <table class="styled-table" id="dataTable">
            <tr>
                <th>الصنف</th>
                <th>الوصف</th>
                <th>الكميه</th>

            </tr>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </table>
    </div>
</div>

@if (User.IsInRole("Manager"))
{
    <button onclick="generatePDF()" class="print-btn">Print as PDF</button>
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script>
    function sortTable() {
        var table = document.getElementById("dataTable");
        var rows = Array.from(table.rows).slice(1);
        rows.sort(function (a, b) {
            var textA = a.cells[0].innerText;
            var textB = b.cells[0].innerText;
            return textA.localeCompare(textB, 'ar'); 
        });

        
        rows.forEach(function (row) {
            table.appendChild(row);
        });
    }

    function generatePDF() {
        var element = document.getElementById('tableContainer');

        var opt = {
            margin: 1,
            filename: 'table-data.pdf',
            image: { type: 'jpeg', quality: 2 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
            html2canvas: {
                style: {
                    fontSize: '50px'  
                }
            }
        };

        html2pdf()
            .from(element)            
            .set(opt)                
            .save();                 
    }

    
    window.onload = function () {
        sortTable();
    };
</script>
